@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=Josefin+Sans&family=Lora:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mukta&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');

/* font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Mukta', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Varela Round', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}